/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/themes/bootstrap/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

body{
    background-size: 100% 100vh;
    background-image: url('./assets/images/1606-diving-635.jpg');
    background-repeat: no-repeat;
    background-color: rgb(3, 53, 49)
}